<a href="https://colab.research.google.com/github/ReidelVichot/FIS_DATA/blob/main/cleaning_data/CBP_joint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

# -- files downloaded from the census ftp database for New Castle County, Delaware
fname12 = "/content/drive/MyDrive/CensusCBPdata/CBP2012.CB1200CBP-2023-10-24T155357.csv"
fname13 = "/content/drive/MyDrive/CensusCBPdata/CBP2013.CB1300CBP-2023-10-24T155354.csv"
fname14 = "/content/drive/MyDrive/CensusCBPdata/CBP2014.CB1400CBP-2023-10-24T155352.csv"
fname15 = "/content/drive/MyDrive/CensusCBPdata/CBP2015.CB1500CBP-2023-10-24T155350.csv"
fname16 = "/content/drive/MyDrive/CensusCBPdata/CBP2016.CB1600CBP-2023-10-24T155347.csv"
fname17 = "/content/drive/MyDrive/CensusCBPdata/CBP2017.CB1700CBP-2023-10-24T155344.csv"
fname18 = "/content/drive/MyDrive/CensusCBPdata/CBP2018.CB1800CBP-2023-10-24T155339.csv"
fname19 = "/content/drive/MyDrive/CensusCBPdata/CBP2019.CB1900CBP-2023-10-24T155336.csv"
fname20 = "/content/drive/MyDrive/CensusCBPdata/CBP2020.CB2000CBP-2023-10-24T155330.csv"
fname21 = "/content/drive/MyDrive/CensusCBPdata/CBP2021.CB2100CBP-2023-10-24T155323.csv"

In [ ]:
cbp12 = pd.read_csv(fname12)
cbp13 = pd.read_csv(fname13)
cbp14 = pd.read_csv(fname14)
cbp15 = pd.read_csv(fname15)
cbp16 = pd.read_csv(fname16)
cbp17 = pd.read_csv(fname17)
cbp18 = pd.read_csv(fname18)
cbp19 = pd.read_csv(fname19)
cbp20 = pd.read_csv(fname20)
cbp21 = pd.read_csv(fname21)

In [ ]:
cbp_array = [cbp12, cbp13, cbp14, cbp15, cbp16, cbp17, cbp18, cbp19, cbp20, cbp21]

In [ ]:
len(cbp_array)

10

In [ ]:
year = 11
iteration = 0
for i in cbp_array:
  iteration = year + 1
  if (cbp12.columns == i.columns).sum() != 10 :
    print (f"20{iteration} has discrepancy in the columns")
  year = year + 1

2017 has discrepancy in the columns
2018 has discrepancy in the columns
2019 has discrepancy in the columns
2020 has discrepancy in the columns
2021 has discrepancy in the columns

The discrepancies are due to the updata of NAICS from 2012 to 2017. NAICS codes for logistics and warehousing remained unchanged.

In [ ]:
previous_columns = cbp12.columns

In [ ]:
## previous_columns Index(['Geographic Area Name (NAME)', '2012 NAICS code (NAICS2012)',
#      'Meaning of NAICS code (NAICS2012_LABEL)',
#      'Meaning of Legal form of organization code (LFO_LABEL)',
#      'Meaning of Employment size of establishments (EMPSZES_LABEL)',
#      'Year (YEAR)', 'Number of establishments (ESTAB)',
#      'Paid employees for pay period including March 12 (number) (EMP)',
#      'First-quarter payroll ($1,000) (PAYQTR1)',
#      'Annual payroll ($1,000) (PAYANN)'],
#     dtype='object')

Index(['Geographic Area Name (NAME)', '2012 NAICS code (NAICS2012)',
       'Meaning of NAICS code (NAICS2012_LABEL)',
       'Meaning of Legal form of organization code (LFO_LABEL)',
       'Meaning of Employment size of establishments (EMPSZES_LABEL)',
       'Year (YEAR)', 'Number of establishments (ESTAB)',
       'Paid employees for pay period including March 12 (number) (EMP)',
       'First-quarter payroll ($1,000) (PAYQTR1)',
       'Annual payroll ($1,000) (PAYANN)'],
      dtype='object')

In [ ]:
# -- Rename the columns
cbp12.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']
cbp13.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']
cbp14.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']
cbp15.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']
cbp16.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']
cbp17.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'PAYANN', 'PAYQTR1', 'EMP']
cbp18.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'PAYANN', 'PAYQTR1', 'EMP']
cbp19.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'PAYANN', 'PAYQTR1', 'EMP']
cbp20.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'PAYANN', 'PAYQTR1', 'EMP']
cbp21.columns = ['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'PAYANN', 'PAYQTR1', 'EMP']

In [ ]:
# -- Reorganize the columns
cbp17[['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']]
cbp18[['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']]
cbp19[['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']]
cbp20[['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']]
cbp21[['NAME', 'NAICS', 'NAICS_LABEL', 'LFO_LABEL', 'EMPSZES_LABEL', 'YEAR', 'ESTAB', 'EMP', 'PAYQTR1', 'PAYANN']];

In [ ]:
cbp_array = [cbp12, cbp13, cbp14, cbp15, cbp16, cbp17, cbp18, cbp19, cbp20, cbp21]
cbp_all = pd.concat(cbp_array)

In [ ]:
cbp_all.NAICS.unique()

array(['00', '11', '21', '22', '23', '31-33', '42', '44-45', '48-49',
       '51', '52', '53', '54', '55', '56', '61', '62', '71', '72', '81',
       '99'], dtype=object)

In [ ]:
FIS = ["44","42","48","72","23","31-33"]